<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ExampleDBApp.Properties.Settings.ExampleDBConnectionString"
            connectionString="Data Source=ExampleDB.mssql.somee.com;Initial Catalog=ExampleDB;Persist Security Info=True;User ID=example;Password=0xtu154m"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>